@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@inject LanguageService LangService

<PageTitle>KMN Tontine</PageTitle>

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <div class="d-flex" style="height: 100vh; overflow: hidden;">

        var culture = await LangService.GetCultureAsync();
        await LangService.SetCultureAsync(culture);
}
                <div class="bg-primary text-white p-3 flex-shrink-0" style="width: 250px; height: auto; position: fixed; left: 0; top: 0; overflow-y: auto;">
                    <MainNav />
                </div>

                <!-- Contenu Principal scrollable -->
                <div class="flex-grow-1 p-4 bg-light" style="margin-left: 250px; height:auto; overflow-y: auto;">
                    @Body
                </div>
            </div>
        </Authorized>
        <NotAuthorized>
            @Body
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
} 