@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>KMN Tontine</PageTitle>

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <div class="min-h-screen bg-gray-100">
                <MainNav />
                
                <main class="p-4">
                    @Body
                </main>
            </div>
        </Authorized>
        <NotAuthorized>
            @Body
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
} 