@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>KMN Tontine</PageTitle>

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <div class="d-flex min-vh-100">
                <!-- Sidebar -->
                <div class="bg-primary text-white p-3 flex-shrink-0" style="width: 250px;">
                    <MainNav />
                </div>

                <!-- Contenu Principal -->
                <div class="flex-grow-1 p-4 bg-light">
                    @Body
                </div>
            </div>
        </Authorized>
        <NotAuthorized>
            @Body
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
} 