@page "/logout"
@using KMN_Tontine.Blazor.UI.Services
@inject ApiAuthenticationStateProvider AuthProvider
@inject NavigationManager Navigation

<h3>Déconnexion...</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        AuthProvider.LoggedOut();
        Navigation.NavigateTo("/login", forceLoad: true);
    }
}
